body {
    background-image: url("bienvenido\ a\ promotoria.jpeg");
    background-size: 91%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}